.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: calc(100vh - 60px);
}

.container.hero {
    height: calc(100vh - 60px);
    flex-direction: row;
    justify-content: center;
    background-color: rgb(231, 231, 231);
    background-repeat: no-repeat;
}

.hero h1 {
    color: white;
    background: rgb(255, 0, 0);
    width: fit-content;
    padding: 2rem;
    border-radius: 1rem;
    margin-bottom: 10%;
}

.bg-img {
    display: grid;
    place-items: center;
    width: 70%;
    height: 100%;
    background-image: url("../../assets/img/bk-img-m.webp");
    background-size: cover;
    background-repeat: no-repeat;
}

.right_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 60px);
    width: 40%;
    background-color: rgb(29, 29, 29);
}
.large-box {
    width: fit-content;
    position: relative;
}

.large-btn {
    padding: 10px 20px;
    font-size: 14px;
    font-weight: bold;
    color: white;
    border: none;
    background-color: #ee171f;
    cursor: pointer;
    font-family: "Bebas Neue", cursive;
    letter-spacing: 2px;
}
.first,
.second {
    position: absolute;
    display: block;
    background-color: white;
    width: 5px;
    height: 36px;
    right: 0;
    top: 0;
    animation: btnAnimation 1s ease-out forwards infinite;
}

.second {
    animation: btnAnimation 1s 0.45s ease-out forwards infinite;
}

@keyframes btnAnimation {
    10% {
        right: -4px;
        opacity: 0.75;
    }
    30% {
        right: -8px;
        opacity: 0.5;
    }
    50% {
        right: -12px;
        opacity: 0.3;
    }
    75% {
        right: -16px;
        opacity: 0;
    }
    85% {
        right: 0;
        opacity: 0;
    }
    100% {
        right: 0;
        opacity: 1;
    }
}
