.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    position: absolute;
    width: 100%;
    background-color: rgb(255, 0, 0);
    font-family: "Bebas Neue", cursive;
    font-weight: bold;
}

.navbar h2 {
    margin: 0;
    margin-left: 4rem;
    font-family: "Bebas Neue", cursive;
    background-color: rgb(255, 255, 255);
    padding: 5px 10px;
    color: rgb(255, 0, 0);
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
}
.links a {
    padding: 2px 4px;
    margin-right: 7.5%;
    margin: 0;
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #fff;
    font-family: "Bebas Neue", cursive;
    font-size: 1.5rem;
    margin-right: 2.5rem;
}
.links a:hover {
    list-style: none;
    cursor: pointer;
    color: white;
    transition: color 0.3s linear;
    font-size: 2rem;
    font-weight: bold;
    border-bottom: 2px solid #000;
    transition: border-bottom 0.7s linear;
}

.links ul {
    margin: 0;
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}
